<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/fondo.css">
    <title>Pagina de Postres</title>
</head>
<body>
    <h1 style="color: black;"><center>Postres</center></h1><br><br>

    <h1 style="color:black;"><center>Flan de Coco</center></h1>
    <center><img src="https://www.recetashonduras.com/base/stock/Recipe/39-image/39-image_web.jpg" alt=""></center><br><br><br><br>
    <h1 style="color: black;"><center>Ensalada de Frutas</center></h1> 
    <center><img src="https://www.conmishijos.com/assets/posts/11000/11118-receta-de-ensalada-de-frutas-de-invierno.jpg" alt=""></center><br><br><br><br>
    <h1 style="color: black;"><center>Budin de Pan</center></h1>
    <center><img src="https://t1.rg.ltmcdn.com/es/posts/5/1/0/budin_de_pan_casero_52015_paso_8_600.jpg" alt=""></center>


            
    
</body>
</html>